* {
    font-family: 'Monaco', monospace;
}

:root {
    --darkest: rgb(10, 180, 152);
    --medium: rgb(160, 255, 160);
    --lightest: lightblue;
    --defaultborder: solid 3px black;
}

/* Start of header only code */

header {
    flex: 2;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, var(--darkest) , var(--medium));
    height: 14%;
    border: solid 3px black;  
    border-radius: 10px;
}

header h1 {
    padding-left: 5%;
    padding-right: 5px;
    font-size: 40px;
    background-color: var(--medium);
    height: 14%;
    border-style: solid;
    border-width: 3px 3px 3px 0px;
    border-radius: 0px 10px 10px 0px;
}

header nav {
    padding-right: 5%;
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
}

header a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    padding: 3px;
    border: var(--defaultborder);
    border-radius: 10px;
    margin-left: 5px;
    background-color: var(--medium);
}

header a:hover {
    background-color: black;
    color: var(--medium);
}

/* End of header only code */

/*body {
    background-image:url("C:\Users\carter johnson\bootcamp\classwork\carreejoh-portfolio\assets\images\backgroundcode.png") fixed center;
} */

body {
    background-color: var(--lightest);
}

/* Start of About Me */

.aboutme  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(var(--medium), rgb(9, 81, 175));
    margin-top: 2%;
    border: var(--defaultborder);
    border-radius: 10px;
}

.aboutme div{
    display: flex;
    align-items: center;
    justify-content: right;
}

.aboutme h1 {
    margin-left: 8%; 
    border: var(--defaultborder);
    border-radius: 10px;
    background-color: var(--medium);
    width: 190px;
}

.aboutme p {
    height: 100%;
    width: 50%;
    border: var(--defaultborder);
    border-radius: 10px;
    background-color: var(--medium);
    padding: 4px;
}

.aboutme img {
    height: 100%;
    padding: 4px;
    background-color: var(--medium);
    border: var(--defaultborder);
    border-radius: 10px;
    margin-right: 8%;
}

/* End of about me section */

/* Beginning of projects */

/* Beginning of large project */

.asideprojects {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
} 

.asideprojects nav {
    background-image: linear-gradient(45deg, rgb(9, 81, 175), var(--medium));;
    width: 20%;
    border: var(--defaultborder);
    border-radius: 10px;
    text-align: center;
}

.asideprojects nav a {
    display: flex;
    flex: 6;
    flex-direction: column;
    border: var(--defaultborder);
    border-radius: 10px;
    width: 70%;
    margin-left: 15%;
    background-color: var(--medium);
    margin-top: 16%;
    text-decoration: none;
    color: black;
}

.asideprojects nav a:hover {
    color: var(--medium);
    background-color: black;
}

.projects {
    width: 75%;
    border: var(--defaultborder);
    border-radius: 10px;
    background-color: var(--medium);
    text-align: center;
}

.projects img {
    width: 70%;
    border: var(--defaultborder);
    border-radius: 10px;
    transition: all .2s ease-in-out; 
}

.projects img:hover {
    transform: scale(1.03);
} 



/* End of large porject */

/* Smaller projects */

.smallprojectflex {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.projectssmall {
    width: 45%;
    border: var(--defaultborder);
    border-radius: 10px;
    text-align: center;
    background-color: var(--darkest);
    margin-top: 2%;

}

.projectssmall img {
    width: 50%;
    transition: all .2s ease-in-out;
    border: var(--defaultborder);
    border-radius: 10px;
}

.projectssmall img:hover {
    transform: scale(1.1);
}

/* End of Smaller Proejcts */

/* Start of Footer/Contact Me */

footer {
    text-align: center;
    margin-top: 3%;
    width: 100%;
    height: 30%;
    background-color: var(--medium);
}

footer section {
    justify-content: space-between;
}




@media screen and (max-width: 800px){
    #aboutmeimage {
        display: none;
    }
    .aboutme p {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .projectssmall {
        width: 90%
    }
}














/* .projectsclass img {
    width: 60%;
    border: solid 3px black;
    border-radius: 10px;
}














.aboutme  {
    display: flex;
    justify-content: left;
    padding-top: 8%;
}

.aboutme h1 {
    padding-left: 20%;
    border: solid black;
    border-width: 0px 3px 0px 0px;
    padding-right: 5px;
    margin-right: 20%;
}

.aboutme p {
    width: 45%;
    border: solid 3px black;
    border-radius: 10px;
    background-color: var(--medium);
    padding: 4px;
}

.projectsclassdiv {
    margin-top: 30px;
}



.projectsclass {
    flex: 2;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.projectsclassdiv section {
    justify-content: space-between;
}

.projectsclass h1 {
    padding-left: 20%;
}

.projectsclass img {
    width: 60%;
    border: solid 3px black;
    border-radius: 10px;
}





































@media screen and (max-width: 700px) and (min-width: 0px){
    header a {
        width: 50%;
        text-align: center;
    }
}

@media screen and (max-width: 700px)  {
    .aboutme  
    h1 {
        margin-right: 20%;
    }
    section img {
        display: hidden;
    }
}

@media screen and (max-width: 700px) {
    .aboutme p {
        width: 80%;
    }
}