* {
    font-family: 'Monaco', monospace;
}

:root {
    --darkest: rgb(41, 52, 98);
    --medium: rgb(28, 214, 206);
    --primarydark: rgb(214, 28, 78);
    --primarylight: rgb(254, 219, 57);
    --defaultborder: solid 3px black;
    --defaulttransition: all .2s ease-in-out;
}

/* Start of header only code */

header {
    flex: 2;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, var(--primarylight) , var(--primarydark));
    height: 14%;
    border: solid 3px black;  
    border-radius: 10px;
}

header h1 {
    padding-left: 5%;
    padding-right: 5px;
    font-size: 40px;
    background-color: var(--medium);
    height: 14%;
    border-style: solid;
    border-width: 3px 3px 3px 0px;
    border-radius: 0px 10px 10px 0px;
}

header nav {
    padding-right: 5%;
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
}

header a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    padding: 3px;
    border: var(--defaultborder);
    border-radius: 10px;
    margin-left: 5px;
    background-color: var(--medium);
}

header a:hover {
    background-color: black;
    color: var(--medium);
}

/* End of header only code */

body {
    background-color: lightblue;
}

/* Start of About Me */

.aboutme  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: linear-gradient(var(--medium), rgb(9, 81, 175)); */
    margin-top: 3%;
    /*border: var(--defaultborder);
    border-radius: 10px; */
}

.aboutme div{
    display: flex;
    align-items: center;
    justify-content: right;
}

.aboutme h1 {
    margin-left: 8%; 
    border: var(--defaultborder);
    border-radius: 10px;
    background-color: var(--medium);
}

.aboutme p {
    height: 100%;
    width: 50%;
    border: var(--defaultborder);
    border-radius: 10px;
    background-color: var(--medium);
    padding: 4px;
}

.aboutme img {
    height: 100%;
    padding: 4px;
    background-color: var(--medium);
    border: var(--defaultborder);
    border-radius: 10px;
    margin-right: 8%;
}

/* End of about me section */

/* Beginning of projects */

/* Beginning of large project */

.asideprojects {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
} 

.asideprojects nav {
    /* background-image: linear-gradient(45deg, rgb(9, 81, 175), var(--medium));; */
    width: 20%;
    /* border: var(--defaultborder);
    border-radius: 10px; */
    text-align: center;
}

.asideprojects nav a {
    display: flex;
    flex: 6;
    flex-direction: column;
    border: var(--defaultborder);
    border-radius: 10px;
    width: 70%;
    margin-left: 15%;
    background-color: var(--medium);
    margin-top: 16%;
    text-decoration: none;
    color: black;
    transition: var(--defaulttransition);
}

.asideprojects nav a:hover {
    color: var(--medium);
    background-color: black;
    transform: scale(1.1);
}

.projects {
    width: 75%;
    border: var(--defaultborder);
    border-radius: 10px;
    background-color: var(--medium);
    text-align: center;
}

.projects img {
    width: 70%;
    border: var(--defaultborder);
    border-radius: 10px;
    transition: var(--defaulttransition); 
}

.projects img:hover {
    transform: scale(1.03);
} 

.projects p {
    width: 75%;
    margin-left: 12.5%;
}

/* End of large porject */

/* Smaller projects */

.smallprojectflex {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.projectssmall {
    width: 45%;
    border: var(--defaultborder);
    border-radius: 10px;
    text-align: center;
    /* background-image: linear-gradient(45deg, var(--primarylight), var(--primarydark) ); */
    margin-top: 3%;

}

.projectssmall img {
    width: 50%;
    transition: all .2s ease-in-out;
    border: var(--defaultborder);
    border-radius: 10px;
}

.projectssmall p {
    width: 60%;
    margin-left: 20%;
}

.projectssmall img:hover {
    transform: scale(1.1);
}

#card1color {
    background-image: linear-gradient(30deg, var(--medium), var(--primarydark));
}

#card2color {
    background-image: linear-gradient(120deg, var(--primarydark), var(--primarylight));
}

#card3color {
    background-image: linear-gradient(-30deg, var(--darkest), var(--medium));
}

#card4color {
    background-image: linear-gradient(-120deg, var(--primarylight), var(--darkest));
}

/* End of Smaller Proejcts */

/* Start of Footer/Contact Me */

footer {
    text-align: center;
    margin-top: 3%;
    width: 100%;
    background-color: var(--medium);
    border: var(--defaultborder);
    border-radius: 10px;
}

footer section a {
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: none;
    color: var(--darkest);
}




@media screen and (max-width: 800px){
    #aboutmeimage {
        display: none;
    }
    .aboutme p {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .projectssmall {
        width: 90%
    }
}




